API_PORT=8000

POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=kaigo

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=pgadmin4

DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

DATABASE=postgres
